<div class="row">
  <div class="col-lg-12">
    <section class="code-of-conduct">
      <h1>Code of Conduct</h1>

      <h2>Policy</h2>

      <p>
        Erie Day of Code is dedicated to providing a harassment-free conference
        experience for everyone, regardless of age, gender, sexual orientation,
        disability, physical appearance, body size, race, or religion. We do not
        tolerate harassment of conference participants in any form. Sexual
        language and imagery is not appropriate for any conference venue,
        including talks. Conference participants violating these rules may be
        sanctioned or expelled from the conference without a refund at the
        discretion of the conference organizers.
      </p>

      <p>
        Harassment includes offensive verbal comments related to gender, sexual
        orientation, disability, physical appearance, body size, race, religion,
        sexual images in public spaces, deliberate intimidation, stalking,
        following, harassing photography or recording, sustained disruption of
        talks or other events, inappropriate physical contact, and unwelcome
        sexual attention. Participants asked to stop any harassing behavior
        are expected to comply immediately.
      </p>

      <p>
        Exhibitors in the expo hall, sponsor or vendor booths, or similar
        activities are also subject to the anti-harassment policy. In
        particular, exhibitors should not use sexualized images, activities,
        or other material. Booth staff (including volunteers) should not use
        sexualized clothing/uniforms/costumes, or otherwise create a sexualized
        environment.
      </p>

      <h2>Misconduct Procedures</h2>

      <p>
        If a participant engages in harassing behavior, the conference organizers
        may take any action they deem appropriate, including warning the offender
        or expulsion from the conference with no refund.
      </p>

      <p>
        If you are being harassed, notice that someone else is being harassed,
        or have any other concerns, please contact a member of conference
        staff immediately.
      </p>

      <p>
        Conference staff will be happy to help participants contact hotel/venue
        security or local law enforcement, provide escorts, or otherwise assist
        those experiencing harassment to feel safe for the duration of the
        conference. We value your attendance.
      </p>

      <p>
        We expect participants to follow these rules at all conference venues
        and conference-related social events.
      </p>

      <h2>Contacts</h2>

      <h3>Organizers</h3>

      <ul>
        <li><%= mail_to 'contact@eriedayofcode.com' %></li>
        <li>Organizers will be listed prior to event</li>
      </ul>

      <h3>Local Law Enforcement</h3>

      <p>
        To contact City of Erie Police, Fire Department, or in case of emergency,
        dial 911
      </p>

      <h3>Local Taxi Company</h3>

      <p>Erie Yellow Cab - (814) 455-4441</p>
    </section>
  </div>
</div>
